CompileFlags:
  Add: 
    [
        --target=arm-none-eabi,
        -ID:/Works/Arm GNU Toolchain arm-none-eabi/arm-none-eabi/include,  # ARM-GCC头文件路径
        -I/Works/Arm GNU Toolchain arm-none-eabi/lib/gcc/arm-none-eabi/14.2.1/include,  # GCC库头文件
    ]
  Compiler: arm-none-eabi-gcc
Diagnostics:
  MissingIncludes: None # 忽视错误
  UnusedIncludes: None # 忽视错误